$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// add files to customize bootstrap
@import "_custom-fonts.scss";
@import "_custom-variables.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
// your own css/scss

/*.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}*/

@font-face {
    font-family: Chardons;
    src: url(fonts/Chardons.ttf);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    padding-top: 65px;
    margin-bottom: 60px;
    background-color: dimgrey;
}

#footer .col-xs-12.navbar-inverse.navbar-fixed-bottom {
    padding: 0.1em 0em 0.5em 0em;
    margin-bottom: -5px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    color: aliceblue;
    text-align: center;
}

#footer .col-xs-12.navbar-inverse.navbar-fixed-bottom div a {
    color: white;
    font-size: 150%;
    padding-top: 0.5em;
    display: inline-block;
    float: none;
    max-width: 20%;
    margin-left: -50%;
    margin-right: -50%;
}

#footer .col-xs-12.navbar-inverse.navbar-fixed-bottom div #upload {
    color: #42B8DF;
    /*font-size: 175%;
    margin-top: -0.5em;
    display: inline-block;*/
    float: none;
}

#fileForm label {
    margin: 0.5em;
}

#fileForm input {
    margin: 0.5em;
}

audio {
    width: 200px;
    height: 220px;
    padding: 4px;
}

video {
    width: 200px;
    height: 220px;
    padding: 4px;
    margin: auto;
}

@media screen and (min-width: 700px) {
    #oneImage {
        width: 100%;
        display: inline-block !important;
        margin: auto;
    }
}

#kuveij_header {
    color: #42B8DF;
    font-family: Chardons;
    font-size: 225%;
}

#loadMore {
    text-align: center;
    margin: 1em;
}

.navbar-brand {
    line-height: 20px !important;
}

#imagesOrFavorites {
    text-align: center;
}

#imageNav {
    text-align: center;
}

#searchBtn {
    margin: 0.5em;
}

// your own css/scss ends