$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
// add files to customize bootstrap
@import "_custom-fonts.scss";
@import "_custom-variables.scss";
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
// your own css/scss

/*.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}*/

.navbar.navbar-inverse.navbar-fixed-top navbar-header.pull-right .dropdown a {
    padding: 1em;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    padding-top: 65px;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

// your own css/scss ends