.img {
    display: block;
    position: relative;
    overflow: hidden;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.thumbnail {
    width: 48%;
    display: inline-block !important;
    margin: 2px;
}

@media screen and (min-width: 700px) {
    .thumbnail {
        width: 31%;
        display: inline-block !important;
    }
}

#comment_username {
    color: grey;
    font-weight: bold;
}

#kuvatitle {
    color: #000;
    font-weight: bold;
}

#commentForm {
    padding-left: -15px !important;
}

#oneImage {
    width: 100%;
    height: 100%;
    margin: auto;
}

audio {
    width: 100%;
    height: 220px;
    padding: 4px;
}

video {
    width: 100%;
    height: 100%;
    padding: 4px;
    margin: auto;
}

#audioglyph {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 600px) {
    #oneImage {
        width: 100%;
        display: inline-block !important;
        margin: auto;
    }
}