.img {
    display: block;
    position: relative;
    overflow: hidden;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding-bottom: 10px;
}

.thumbnail {
    width: 48%;
    display: inline-block !important;
    margin: 2px;
}

@media screen and (min-width: 600px) {
    .thumbnail {
        width: 31%;
        display: inline-block !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

#comment_username {
    color: lightskyblue;
    font-weight: bold;
    padding-left: -15px;
}

#header {
    color: #000;
    font-weight: bold;
    margin: auto;
}

#commentForm {
    padding-left: -15px !important;
}

#oneImage {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
}

audio {
    width: 100%;
    height: 220px;
    padding: 4px;
}

video {
    width: 100%;
    height: 100%;
    padding: 4px;
    margin: auto;
}

#audioglyph {
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 700px) {
    #oneImage {
        width: 100%;
        display: inline-block !important;
        margin: auto;
    }
}

#kuva {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#commentStyle {
    text-align: left;
    align-items: left;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #333;
    margin: auto;
    margin-bottom: 5px !important;
}

#next_older {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 20px;
}

#mediabuttons {
    margin: auto;
    padding-left: 36px;
    padding-top: 10px;
}

#kuveij_header {
    padding-bottom: 10px;
}

#logOutbar {
    padding: 15px;
    color: aquamarine;
}

#kuvacontainer {
    padding-left: 35px;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

#loggeduser {
    padding-top: 28px;
}

@media screen and (max-width: 600px) {
    #kuvacontainer {
        width: 100%;
        display: inline-block !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

#comment_date {
    text-align: left;
    color: #ccc;
}

#comment_comment {
    text-align: left;
    color: #ccc;
}

#kommenttikentta {
    padding-top: 10px;
}

#logoutButton {
    background-color: darkgrey;
    border: 1px solid black;
}

#like_heart {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-bottom: 10px;
}

#imageNav {
    text-align: center;
}

#searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10px;
}

#searchButton {
    display: flex;
    justify-content: center;
    align-items: center;
}