<div class="row">
    <div class="col-xs-12">
        <div class="thumbnail" ng-repeat="file in files">
            <div ng-if="file.type == 'image'">
                <div class="img" style="background-image:url(http://util.mw.metropolia.fi/uploads/{{ file.path }});"></div>
                <div id="kuvatitle" class="caption">
                    {{ file.title }}
                </div>
            </div>
            <div ng-if="file.type == 'audio'">
                <audio controls class="img">
                    <source ng-src="{{trustSrc(file.path)}}" type="audio/mp4">
                </audio>
            </div>
            <div ng-if="file.type == 'video'">
                <video controls class="img">
                    <source ng-src="{{trustSrc(file.path)}}" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>