<div class="row">
    <div class="col-xs-12">
        <div class="thumbnail" ng-repeat="file in pagedFiles">
            <div ng-if="file.type == 'image'">
                <a ng-href="#/image/{{ file.fileId }}">
                    <div class="img" style="background-image:url(http://util.mw.metropolia.fi/uploads/{{ file.path }});"></div>
                    <div id="kuvatitle" class="caption">
                        {{ file.title }}
                    </div>
                </a>
            </div>
            <div ng-if="file.type == 'audio'">
                <a ng-href="#/image/{{ file.fileId }}">
                    <audio controls class="img">
                        <source ng-src="{{trustSrc(file.path)}}" type="audio/mp4">
                    </audio>
                    <div id="kuvatitle" class="caption">
                        {{ file.title }}
                    </div>
                </a>
            </div>
            <div ng-if="file.type == 'video'">
                <a ng-href="#/image/{{ file.fileId }}">
                    <video controls class="img">
                        <source ng-src="{{trustSrc(file.path)}}" type="video/mp4">
                    </video>
                    <div id="kuvatitle" class="caption">
                        {{ file.title }}
                    </div>
                </a>
            </div>
        </div>
        <br>
        <button class="btn" href="#" ng-class="nextPageDisabledClass()" ng-click="loadMore()">Load More</button>
    </div>
</div>