<div login-dialog></div>
<div class="container" ng-show="currentUser" ng-controller="uploadController">
    <div class="row" id="upload_myImage">
        <div class="col-xs-5 col-xs-offset-3 text-center">
            <form role="form" id="fileForm">
                <input class="form-control" name="file" type="file"
                       onchange="angular.element(this).scope().setMediaFile(this)">
                <input class="form-control" name="title" type="text" placeholder="title">
                <input class="form-control" name="description" type="text" placeholder="description">
                <button class="btn btn-default" ng-click="sendImage()">Upload</button>
            </form>
            <p>{{upload}}</p>
        </div>
    </div>
</div>

<div ng-show="currentUser">
    <button ng-click="loadMyImages()">Show my images</button>
    <button ng-click="loadFavorites()">Show my Favorites</button>
</div>

<div ng-show="currentUser" class="row">
    <media></media>
</div>