<div login-dialog></div>
<div class="container" ng-show="currentUser" ng-controller="uploadController">
    <div class="row" id="upload_myImage">
        <div class="col-xs-5 col-xs-offset-3 text-center">
            <form role="form" id="fileForm">
                <input class="form-control" name="file" type="file" onchange="angular.element(this).scope().setMediaFile(this)">
                <input class="form-control" name="title" type="text" placeholder="title">
                <input class="form-control" name="description" type="text" placeholder="description">
                <button class="btn btn-default" ng-click="sendImage()">Upload</button>
            </form>
            <p>{{upload}}</p>
        </div>
    </div>
</div>

<div ng-show="currentUser">
    <button class="btn" ng-click="loadMyImages()">Show my images</button>
    <button class="btn" ng-click="loadFavorites()">Show my Favorites</button>
</div>

<div ng-show="currentUser" class="row">
    <div class="col-xs-12">

        <div class="thumbnail" ng-repeat="file in files">
            <div ng-if="file.type == 'image'">
                <a ng-href="#/image/{{ file.fileId }}">
                    <div class="img" style="background-image:url(http://util.mw.metropolia.fi/uploads/{{ file.path }});"></div>
                    <div id="kuvatitle" class="caption">
                        {{ file.title.slice(0,10) }}
                    </div>
                </a>
            </div>
            <div ng-if="file.type == 'audio'">
                <a ng-href="#/image/{{ file.fileId }}">
                    <audio controls class="img">
                        <source ng-src="{{trustSrc(file.path)}}" type="audio/mp4">
                    </audio>

                    <div id="kuvatitle" class="caption">
                        {{ file.title.slice(0,10) }} <span class="glyphicon glyphicon-music" /</span>
                    </div>
                </a>
            </div>

            <div ng-if="file.type == 'video'">
                <a ng-href="#/image/{{ file.fileId }}">
                    <video class="img" ng-src="{{trustSrc(file.path)}}" controls></video>
                    <div id="kuvatitle" class="caption">
                        {{ file.title.slice(0,10) }} <span class="glyphicon glyphicon-facetime-video"> </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>