<div class="navbar navbar-inverse nav-links navbar-fixed-top">
    <div class="navbar-header pull-left col-xs-5">

        <a id="kuveij_header" class="navbar-brand" href="#/">Kuveij</a>

    </div>
    <div id="logOutbar" class="navbar-header pull-right col-xs-7">
        <span style="color: #ccc" id="loggeduser" ng-if="currentUser">Welcome, {{ currentUser }}</span>
        <button ng-if="currentUser" id="logoutButton"style="background-color:grey" class="btn btn-primary pull-right" ng-click="logOut()">Logout</button>

    </div>
    <div class="col-xs-1"></div>
</div>