<div class="navbar navbar-inverse nav-links navbar-fixed-top">
    <div class="navbar-header pull-left col-xs-5 col-sm-7 col-md-9">

        <a id="kuveij_header" class="navbar-brand" href="#/">Kuveij</a>

    </div>
    <div id="logOutbar" class="navbar-header pull-right col-xs-7 col-sm-5 col-md-3">
        <div class="col-xs-4 col-sm-5">
            <!--<button ng-if=" currentUser " id="logoutButton " style="background-color:grey " class="btn btn-primary btn-sm pull-right " ng-click="logOut() ">Logout</button>-->
        </div>
        <div class="col-xs-8 col-sm-7">
            <!--<p style=" color: #ccc " id="loggeduser " ng-if="currentUser ">{{ currentUser }}</p>-->
            <div class="dropdown pull-right">
                <p style="color: #ccc " class="dropdown-toggle" type="button" data-toggle="dropdown" ng-if="currentUser "><span style="color: #42B8DF " class="glyphicon glyphicon-user"></span> {{ currentUser }}</p>
                <ul class="dropdown-menu col-xs-6" ng-if="currentUser">
                    <li><a href="#/myImages">My Images</a></li>
                    <li class="divider"></li>
                    <li class="disabled"><a href="#/" ng-if="currentUser" ng-click="logOut()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>