<div class="navbar navbar-inverse nav-links navbar-fixed-top">
    <div class="navbar-header pull-left col-xs-5">

        <a id="kuveij_header" class="navbar-brand" href="#/">Kuveij</a>

    </div>
    <div class="navbar-header pull-right col-xs-7">
        <div class="col-xs-0 col-sm-4"></div>
        <div class="col-xs-1"></div>
        <div class="dropdown col-xs-5 col-sm-3">
            <div ng-if="currentUser">Welcome, {{ currentUser }}</div>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>