<div login-dialog></div>
<div class="row" ng-swipe-left="previousMedia()" ng-swipe-right="nextMedia()" id="oneImage">

    <h3 id="header"> {{ file.title}} </h3> by: <span style="color:#ccc">{{uploadedBy}}</span>

    <div id="kuva" ng-if="file.type == 'image'">
        <img class="img-responsive" ng-src="http://util.mw.metropolia.fi/uploads/{{ file.path }}">
    </div>


    <div id="kuva" ng-if="file.type == 'audio'">
        <audio audioplayer controls>
            <source ng-src="{{trustSrc(file.path)}}" type="audio/mp4">
        </audio>

    </div>

    <div>
        <div id="kuva" ng-if="file.type == 'video'">
            <video ng-src="{{trustSrc(file.path)}}" controls></video>
        </div>
    </div>

    <div>
        <div id="next_older" class="row">
            <div ng-if="clicked" id="like_heart">
                <i ng-model="clicked" ng-click="removeLike()" class="glyphicon glyphicon-heart" style="color:#ff6666"></i>
            </div>
            <div ng-if="!clicked" id="like_heart">
                <i ng-model="clicked" ng-click="addLike()" class="glyphicon glyphicon-heart" style="color:black"></i>
            </div>
        </div>

        <div id="imageNav" class="row">
            <div class="col-xs-4">
                <button class="btn pull-left" ng-click="previousMedia()">Older</button>
            </div>
            <div id="randomButton" class="col-xs-4">
                <button class="btn" ng-click="randomMedia()">Random</button>
            </div>
            <div class="col-xs-4">
                <button class="btn pull-right" ng-click="nextMedia()">Newer</button>
            </div>
        </div>
    </div>
</div>

<div ng-repeat="comment in comments" class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" id="commentStyle">
    <div class="pull-left col-xs-3" id="comment_date">
        <p style="color: #ccc"> {{comment.time | javaDate}}</p>
    </div>
    <div class="pull-left col-xs-3" id="comment_username">
        <p>{{comment.username}}</p>
    </div>
    <div class="pull-left col-xs-6" id="comment_comment">
        <p>{{comment.comment}}</p>
    </div>
</div>
<div id="kommenttikentta" class="col-xs-6">
    <form class="form-inline" role="form">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Comments" ng-model="comment_add" />
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="sendComment()">Add</button>
        </div>
    </form>
</div>

</div>