<form enctype="application/x-www-form-urlencoded" novalidate>
    <div class="form-group col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <label for="search">Search</label>
        <input type="text" ng-model="keywords" class="form-control" id="search" placeholder="Search title..." />
        <div class="text-center">
            <button ng-click="search()" class="btn btn-primary" id="searchBtn">Search</button>
        </div>
    </div>
</form>
<br>
<div ng-show="currentUser" class="row">
    <div class="col-xs-12" id="kuvacontainer">
        <div class="thumbnail" ng-repeat="file in files | limitTo:perPage">
            <div ng-if="file.type == 'image' || type == 'image'">
                <a ng-href="#/image/{{ file.fileId }}">
                    <div class="img" style="background-image:url(http://util.mw.metropolia.fi/uploads/{{ file.path }});"></div>
                    <div class="caption kuvatitle">
                        {{ file.title.slice(0,10) }}
                    </div>
                </a>
            </div>
            <div ng-if="file.type == 'audio' || type == 'audio'">
                <a ng-href="#/image/{{ file.fileId }}">
                    <div class="img">
                        <div id="audioglyph">
                            <div class="glyphicon glyphicon-music">
                            </div>
                        </div>
                    </div>
                    <div class="caption kuvatitle">
                        {{ file.title.slice(0,10) }} <span class="glyphicon glyphicon-music"></span>
                    </div>
                </a>
            </div>
            <div ng-if="file.type == 'video' || type == 'video'">
                <a ng-href="#/image/{{ file.fileId }}">

                    <div class="img" style="background-image:url(http://util.mw.metropolia.fi/uploads/thumbs/tn160_{{ file.path }}.png);"></div>
                    <div class="caption kuvatitle">
                        {{ file.title.slice(0,10) }} <span class="glyphicon glyphicon-facetime-video"></span>
                    </div>
                </a>
            </div>
        </div>
        <br>
        <div class="col-xs-12" id="loadMore">
            <button class="btn" href="#" ng-click="perPage = perPage + 12">Load More</button>
        </div>
    </div>
</div>