<div class="row">
    <div class="col-xs-12" style="text-align: center; color: #f2f2f2">
        <h2>Kuveij Stats</h2>
        <hr>
        <h4>Media uploaded: {{imageCount}}</h4>
        <h4>Comments: {{comments}}</h4>
        <h4>Users registered: {{usersRegistered}}</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <br>
        <h4 style="text-align: center">Media types uploaded</h4>
        <canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels">
        </canvas>
    </div>
</div>